snippet v
	<TMPL_V ${1}>
snippet var
	<TMPL_VAR ${1}>
snippet c
	<TMPL_COMMENT> ${1:comments} </TMPL_COMMENT>
snippet loop 
	<TMPL_LOOP ${1:data}>
		${2}
	</TMPL_LOOP>

snippet if
	<TMPL_IF ${1:data}>
		${2}
	</TMPL_IF>

snippet set
	<TMPL_SETVAR ${1:data}> ${2} </TMPL_SETVAR>

snippet iff
	<TMPL_IF [% ${1:$b_} %]>
		${2}
	</TMPL_IF>

snippet else
	<TMPL_ELSE>

snippet assign
	<TMPL_ASSIGN ${1:tmp} [% ${2} %]>

